@media (max-width:560px) {
    main{
        flex-direction: column;
        justify-content: start !important;
        width: 100% !important;
    }
    #heroImg{
        width: 100%;
        height: 800px !important;
    }
    #img{
        width: 100% !important;
        height: 100% !important;
    }
    #section2{
        width: 100% !important;
    }
    .title-icon div{
        padding: 6px !important;
        font-size: 14px;
    }
    
    .rounded-square{
        width: 25px ;
        height: 25px ;
        font-size: 12px !important;
        border-radius: 3px !important;
    }
    .nav-tabs {
        justify-content: start ;
    }
    .nav-tabs .nav-item .nav-link{
        font-size: 13px;
        
    }
    .nav-tabs .nav-item .nav-link i{
        padding-right: 0px !important;
        font-size: 13px ;
        /* display: none; */
    }
    #Nutrition-tab-pane{
        overflow-y: scroll;
    }
    .nutrition-sm-flex-column{
        flex-direction: column;
    }

}