:root {
    --bs-orange: #fd7e14;
    --bs-bg-orange: #fd7e14;
    --font-primary: "Days one";

}
h2,h3{
    font-family: var(--font-primary);
}
*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
html,
body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}
@font-face {
    font-family: "Days one";
    src: url(../fonts/DaysOne-Regular.ttf);
}
section {
    height: 100vh;
}

.text-orange {
    color: var(--bs-orange);
}
.text-brown{
    color: #d08700;
}
.bg-orange {
    background-color: var(--bs-orange);
}

.bg-orange-gradient {
    background-image: linear-gradient(to right, #ff6800, #fa2c36) !important;
}

.w-50px {
    width: 50px;
}

.w-30 {
    width: 43%;
}

.w-45 {
    width: 45%;
}

.w-90 {
    width: 90%;
}

.h-100vh {
    height: 98vh;
}

.h-320px {
    height: 320px;
}

.mt-7 {
    margin-top: 7em;
}

.top-10 {
    top: 0.5em;
}

.start-10 {
    left: 0.5em;
}

.start-15 {
    left: 1.7em;
}

.start-30 {
    left: 4.2em;
}

.end-10 {
    bottom: 0.8em !important;
}

.fa-cube {
    color: #a49f0e;
}

.bg-pink {
    background-color: #e3f4b2 ;

}

.bg-brown-subtle {
    background-color: #fef9c2 ;

}

.rounded-square {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-square {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img {
    transition: all 0.5s;
    height: 500px;
}

.hero-img:hover {
    transform: translateY(-13px);
    box-shadow: 0px 0px 10px rgb(224, 4, 4) !important;
    border: 3px solid rgb(224, 4, 4) !important;

}

.nav-tabs .nav-link {
    color: rgb(74, 72, 72) !important;
}

.nav-tabs .nav-link:hover,
.nav-tabs .active,
.fa-check-circle,
.nav-btn:hover {
    color: #fd7e14 !important;

}

.btn-recipe {
    transition: all 0.4s !important;
}

.btn-recipe:hover {
    transform: scale(1.05);
}